# 🔐 Environment variables
.env
.env.*

# 🐍 Python
__pycache__/
*.py[cod]
*$py.class

# 📦 Virtual Environment
venv/
env/
ENV/

# 🗄 Database
db.sqlite3

# 📁 Media files (uploaded images)
media/

# 📁 Static files (production)
staticfiles/

# 🧪 Testing
.coverage
htmlcov/
.pytest_cache/

# 🧰 IDEs
.vscode/
.idea/

# 🧾 Logs
*.log

# 🧱 OS files
.DS_Store
Thumbs.db